h1 {
	width: 20%;
	text-align: center;
	color: 	#000000;
	font-size: 30px;
	font-weight: normal;
	height: 30px;
	white-space: nowrap;
}
body {
	font-family: century gothic;
	min-width: 1000px;
}
th {
	color: #000000;
	font-size: 22px;
}
th, td{
	border: 1px solid #000000;
    height: 25px;
    padding: 10px;
	white-space: nowrap;
}
.userForm {
	background: #d9d9d9;
	border: 1px solid #000000;
	width: 20%; 
	margin: 15px 0 10px 0; 
	padding: 10px;	
}
.taskBox {
	border: 1.5px solid #000000;
	width: 95%;
	margin-top: 5px;
	height: 30px; 
}
.addTask {
	border: 1.5px solid #000000;
	background: yellow;
	margin: 5px;
	height: 30px;
	font-weight: bold;
	color: 	#000000;
	padding: 5px 20px;
}
.userForm p {
	margin: 0;
	color: red;
}

.taskTable {
	border-collapse: collapse;
    width: 30%;
    margin: 15px 0 10px 0;
	padding: 8px;
}

.countTable {
	border-collapse: collapse;
	width: 15%;
	margin-top: 15px;
}

.cForm {
	border: 0;
	margin: 0;
	padding: 0 9px 0 0 ;
	background: #FFFFFF;
	background-color: transparent;
}
.centerCol {
	text-align: center;
}
.start {
	text-align: center;
}
.complete{
	text-align: center;
	background: green;
}
.delete{
	text-align: center;
	background: red;
}
.start a{
	text-decoration: none;
	font-size: 30px;
	color: black;
}
.complete a{
	text-decoration: none;
	font-size: 30px;
	color: white;
}
.delete a{
	text-decoration: none;
	font-size: 30px;
	color: white;
}